*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    font-family: Merriweather;
}




table
{

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}
#table
{

    width: auto;

}
th, td
{
    border: 0.3vh solid black;
    width: 0;
    font-size: 2vh;
    padding: 1vh 0;
    margin: 0;

}
th
{
    background-color: #fa802e;
    font-size: 3vh;
    color: white;

    font-family: "Segoe UI";
}

.button
{
    font-size: 3vh;
    border-radius: 1vh;
    background-color: #fc9e47;
    border: 0.5vh solid #ff7636;
    margin: 0 0 2vh 0;
    padding: 1vh;
    font-family:  'Merriweather', sans-serif ;

}

.Shadow
{
    box-shadow: 0 0.5em 1em 0.5em #5b5b5b, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td
{
    padding: 1vh 1vw;
}
p
{

}


tr
{
    padding: 0;
    margin: 0;
    width: 0;
}
body
{
    background-color: #f8ffb7;
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    font-size: 4vh;
    margin: 1em;
}
h2
{
    text-align: center;
    font-size: 4vh;
}


#currentLoc
{
    background-color: #222222;
}
#menu
{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    overflow: auto;
    background-color: #fa802e;


}
#menu a
{
    text-decoration: none;
    font-family: 'Segoe UI', serif;
    display: inline-block;

    padding: 0.5em;
    font-size: 2.5em;
    color: white;
    border-right-style: solid;
    border-width: 0.05em;
    float: left;
}
#menu a:hover
{
    background-color: #e05603;
}
#menu #currentLoc:hover
{
    background-color: #222222;
}
#menu li
{
    display: inline;
    padding: 0;
    margin: 0;
}

nav
{
    padding: 0;
    margin-top: -0.3em;;
    width: 100%;
    box-shadow: 0.0em -0.0em 8px 0.5em rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
    padding-top: 0;
    margin-top: 0;
}
