@font-face {
    font-family: 'Merriweather';
    src: url('fonts/merriweather-webfont.woff2') format('woff2'),
    url('fonts/merriweather-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {

}

body
{
    margin: 0;
    padding: 0;
    background-image: url("../Img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:  'Merriweather', sans-serif ;
}

#question
{
    text-align: center;
    font-size: 3em;
    border-bottom: 2px solid #990000;
    margin: 0;
    background-color: #ffedcb;
    padding: 3vw;


}
#answer
{
    font-size: 2em;

    border-radius: 0.5em;

}

#AnswerField
{
    text-align: center;
    background-color: #f8ffb7;
    border: 0.1vh solid black;
    margin: 0 10vw ;
    height: 150vh;
    box-shadow: 0.0em -0.0em 8px 0.5em rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#submitAns
{

    margin-bottom: 2vh;
    margin-right: 0;
}
#message
{
    font-size: 1em;
}
#skip
{



    margin-top: 2vh;
    margin-bottom: 2vh;
    display: inline-block;

}
.cameraButton
{
    font-size: 3vh;
    border-radius: 1vh;
    background-color: #fc9e47;
    border: 0.5vh solid #ff7636;
    margin: 0.5vh;
    padding: 1vh;
    font-family:  'Merriweather', sans-serif ;
}
.c1
{
    font-size: 2vh;
}
.stats
{
    font-size: 3vh;
    display: inline-block;
    background-color: #fc9e47;
    padding: 1vh;
    border: 0.5vh solid #ff7636;
    border-radius: 1vh;
}
label
{
    font-size: 3vh;
}
input[type=radio] {
    width: 2vh;
    height: 2vh;


}
#StatsWrap
{
    margin-top: 0.5vh;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.popupContent {
    background-color: #f8ffb7;
    margin: 5vw auto; /* 15% from the top and centered */
    padding: 4vw;
    font-size: 2vh;
    border: 0.2vw solid #565656;
    width: 60%; /* Could be more or less, depending on screen size */
}
#message
{
    font-size: 2vh;
    color: #ff0000;
}








