
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1
{
    text-align: center;
    font-family: "Brush Script MT", sans-serif, serif;
    font-size: 7em;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 5px #818181; ;
}
h2
{
    margin-top: 1em ;
    text-align: center;
    font-size: 4em;
}

h3
{
    text-align: center;
    display: none;
    font-size: 3em;
    font-family: "Brush Script MT", sans-serif, serif;
}
#gameList li
{
    border-style: double;
    background-color: #fff7cf;
}
#twitter
{


    float: right;

}
#LogoImg
{
    width: 20em;
    display: block;
    margin: 0 auto 0.5em;


}
header
{
    margin:0;
    padding:0;
    background-color: #ffd762;
    display: block;

}
footer
{
    font-size: 3em;
    text-align: center;
    font-family: 'Segoe UI', serif;
    margin: 0;
    padding: 0;
    background-color: #5b5b5b;
}
body
{
    background-color: #f8ffb7;
    margin: 0;
    padding: 0;
}
#StButton
{
    font-size: 2em;
    font-family: "Brush Script MT", sans-serif , serif;
    margin-bottom: 1em;
    border-radius: 2em;
    padding: 1em 2em;
    box-shadow: 0 6px #999;
}
#currentLoc
{
    background-color: #222222;
}
#menu
{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    overflow: auto;
    background-color: #fa802e;

}
#menu a
{
    text-decoration: none;
    font-family: 'Segoe UI', serif;
    display: inline-block;

    padding: 0.5em;
    font-size: 2.5em;
    color: white;
    border-right-style: solid;
    border-width: 0.05em;
    float: left;
}
#menu a:hover
{
    background-color: #e05603;
}
#menu #currentLoc:hover
{
    background-color: #222222;
}
#menu li
{
    display: inline;
    padding: 0;
    margin: 0;
}

#gameList
{
    font-size: 3em;

}

#StButton:hover
{
 background-color: #5b5b5b;
}
#SButton
{
    margin-top: 3em;
    text-align: center;
}

#addInfo
{

    border: 0.1em solid black;
    float: right;
    width: 100%;

    font-size: 3em;

}
#nameForm
{
    display: none;
    border: 0.5em solid black;
    margin: 10em;
    alignment: center;
    border-radius: 4em;
    background-color: #ffc63f;
}

label
{
    font-family: 'Segoe UI', serif;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.name
{

    font-size: 4em;
    width: 80%;
    border-radius: 0.5em;
}
#submit
{
    border-radius: 4em;
    margin: 1em;
    padding: 0.5em;

}
form > ul > li
{
    padding: 0;
    margin: 0;
    alignment: center;
}
form>ul
{

    margin: 1em;
}
#gameChoice>input
{
    height: 4em;
    width: 100%;
}

input::-webkit-input-placeholder
{
    padding-left: 0.3em;
}

#StartB:hover
{
    background-color: #5b5b5b;

}

#StartB
{
    font-size: 2em;
    font-family: 'Segoe UI', sans-serif , serif;

    border-radius: 2em;
    padding: 1em 2em;
    margin-bottom: 1em;
}
#errorMessage
{
    color: crimson;
    font-size: 3em;
}

nav
{
    padding: 0;
    margin-top: -0.3em;;

    box-shadow: 0.0em -0.0em 8px 0.5em rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
    padding-top: 0;
    margin-top: 0;
}
.Shadow
{
    box-shadow: 0 0.5em 1em 0.5em #5b5b5b, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#LogoImg
{
    padding-bottom: 1.5em;
}

#Resume
{
    margin: 1em;
    font-size: 2em;
    font-family: "Brush Script MT", sans-serif , serif;
    margin-bottom: 1em;
    border-radius: 2em;
    padding: 1em 2em;
    box-shadow: 0 6px #999;
}
#ResumeDiv
{
    text-align: center;
}







